.calculator{
    width: 350px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    margin: auto;
}

#display{


    width: 300px;
    height: 60px;
    position: relative;
    top: 30px;
    margin-left: 20px;
    font-size: xx-large;
    color: white;
    background-color: black;
    text-align: right;
    /* border: none; */
    /* left: 250px; */
}

.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: relative;
    top: 100px;
    margin-left: 25px;
}

.ac-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
    background-color: rgb(161, 158, 158);
    font-size: x-large;
    border: none;
    cursor: pointer;

}

.ac1-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
    background-color: rgb(79, 78, 78);
    color: white;
    font-size: x-large;
    border: none;
    cursor: pointer;
}

.ac1-btn:active{
    background-color: rgb(206, 201, 201);
}

.ac-btn:active{
    background-color: rgb(79, 78, 78);
}
 

button{
    cursor: pointer;
    pointer-events: auto;
}
.ac-btn, .ac1-btn {
    z-index: 10;  /* Ensure buttons are above other elements */
}